.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center align text content */
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 800px;
  background: linear-gradient(rgb(153, 105, 255), rgb(107, 100, 100));
}

.cart-container h2 {
  font-size: 24px; 
}

.cart-container p {
  font-size: 16px; 
}

.cart-container button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.cart-container button:hover {
  background-color: #45a049;
}
