.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background:linear-gradient(blueviolet,orange);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: blue; /* Change button color to blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: darkblue; /* Change button color on hover */
}

p {
  margin-top: 10px;
  text-align: center;
}

p a {
  color: blue; /* Change link color to blue */
  text-decoration: none;
}

p a:hover {
  text-decoration: underline; /* Add underline on link hover */
}
